@import "tailwindcss";

html, body {
  width: 100%;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

section {
  scroll-margin-top: 80px;
}
