@import "tailwindcss";

html, body {
  width: 100%;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}

section {
  scroll-margin-top: 80px;
}
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.animate-scroll {
  display: flex;
  animation: scroll 15s linear infinite;
}

/* Scroll Animation Base */
.reveal {
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.8s ease-out;
}

/* When visible */
.reveal.active {
  opacity: 1;
  transform: translateY(0px);
}


.button-fill {
  position: relative;
  overflow: hidden;
}

.button-fill::before {
  content: "";
  position: absolute;
  left: -100%;
  top: 0;
  width: 100%;
  height: 100%;
  background: orange; /* sky-500 */
  transition: left 0.4s ease;
  z-index: 0;
}

.button-fill:hover::before {
  left: 0;
}

.button-fill span {
  position: relative;
  z-index: 1;
}
